<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Showorb Slideshow</title>
    <link rel="stylesheet" href="./node_modules/reveal.js/dist/reveal.css">
    <link rel="stylesheet" href="./node_modules/reveal.js/dist/theme/black.css">
  
    <style>
      .reveal {
        /* background-color: #ff0099; */
        /* background-image: url("./images/background.png"); */
      }

      .reveal img {
        max-width: var(--slide-width);
        max-height: var(--slide-height);
        margin: 0;
      }
    </style>

  </head>

  <body>
    <div class="reveal">
      <div class="slides">
        <% props.images.forEach((image) => { %>
          <% if (image.type === "file") { %>
            <section>
              <img class="slide-image" data-src="./images/<%= image.name %>" alt="<%= image.name %>">
            </section>
          <% } %>
        <% }); %>
      </div>
    </div>
    <script src="./node_modules/reveal.js/dist/reveal.js"></script>
    <script>
      Reveal.initialize({
        progress: false,
        overview: false,
        controls: false,
        loop: true,
        shuffle: true,
        autoSlideStoppable: false,
        autoSlide: 5000, // milliseconds

        // Transition style
        transition: 'slide', // none/fade/slide/convex/concave/zoom

        // Transition speed
        transitionSpeed: 'default', // default/fast/slow

        // Transition style for full page slide backgrounds
        backgroundTransition: 'fade', // none/fade/slide/convex/concave/zoom
      });
    </script>
  </body>
</html>